:root {
  --preto: #000;
  --branco: #fff;
  --cor-principal: #31363F;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'INTER', sans-serif;
  background-color: var(--cor-principal);
  color: var(--branco);
}